 *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.screen{
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    align-items: center;
    padding: 5px 15px;
    margin: 8px 15px;
    text-decoration: none;
    color: black;
    background-color: rgb(255, 210, 218);
    width: 98%;
    border-radius: 10px;
}

.logo{
        align-items: center;
        text-decoration: none;
        color: rgb(146, 11, 11);
        font-size: larger;
        font-weight: bolder;
         margin: 5px 15px; 
        padding: 5px 15px;
        margin-left: 55px;
}
.logo2{
        align-items: center;
        text-decoration: none;
        color:rgb(255, 255, 255);
        background-color: rgb(146, 11, 11);
        padding: 10px 45px;
        margin: 5px 25px;
        border-radius: 22px;
        font-weight: 500;
    }
.link1{
    text-decoration: none;
    padding: 40px;
    color:rgb(146, 11, 11) ;
    font-size: large;
    font-weight: 700;
}


.leftdiv{
    width: 50%;
}
.text1{
    margin-top: 50px;
    margin-left: 100px;
    font-size: 60px;
    color: rgb(146, 11, 11);
}
.text2{
    margin-left: 100px;
    margin-top: 2px;
    font-size: 50px;
    color: navy;
}

.para{
    margin-left: 100px;
    margin-top: 15px;
    font-size: 25px;
    color: rgb(7, 0, 0);
}

.button{
    padding: 13px 15px;
    margin-top: 50px;
    margin-left: 100px;
    border-radius: 12px;
    color: rgb(255, 255, 255);
    background-color:rgb(146, 11, 11);
    font-size: 25px;
    font-weight: 700;
}

.contenner{
    display: flex;
}

.img{
    display: flex;
    justify-content:center;
    width: 50%;
    margin-top: 10px;
    height: 550px;
}



@media (max-width: 1108px){
    .screen{
        flex-direction: column;
        height: auto;
        width: 98%;
        text-align: center;
        padding: 5px 5px;
        margin: 5px 5px;
        align-items: center;
    }
    .logo{
        width: 100%;
        border-bottom: 1px solid gray;
        align-items: center;
    }
    .logo2{
        /* width: 100%; */
        border-bottom: 1px solid gray;
        /* display: flex; */
    }
    .link{
        flex-direction: column;
        text-align: center;
        display: flex;
        padding: 0;
        margin: 0;
        width: 85%;
    }
    .link1{
        padding: 10px;
        text-align: center;
        border-bottom: 1px solid grey;
    }
    .img{
        height: 25%;
        width: auto;
        margin-right: 50px;
        margin-bottom: 25px;
    }
}